<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/disable-element.js"></script>
    <link rel="stylesheet" href="/static/css/output.css">
    <link rel="stylesheet" href="/static/css/modal.css">
    <title>{{ .Title }}</title>
</head>

<body>
    <nav id="nav_bar" class="bg-blue-700 p-12  py-3  font-mono text-3xl text-white">
        <a href="/">Home</a>
    </nav>

    {{ template "content" . }}

    <div>
        {{ partial "partials/toast" . }}
    </div>

</body>

</html>
