<main hx-ext="ws" ws-connect="/ws">
    <h1>Welcome to web-sequence</h1>
    <div class="flex bg-orange-400 p-4 gap-5 font-mono">
        <a
            href="/lobby/create"
            class="bg-white px-3 py-2 rounded-xl hover:bg-blue-700 hover:text-white transition duration-200 hover:rounded-md ease-linear">Create
            a loby</a>
        <button
            class="bg-white px-3 py-2 rounded-xl hover:bg-blue-700 hover:text-white transition duration-200 hover:rounded-md ease-linear">Join
            a lobby</button>
    </div>
</main>
