<main class="bg-blue-700 min-h-screen px-12 pt-12 pb-24">

    <div class="bg-white h-[90vh] rounded-lg p-12">
        <div class="flex h-full flex-col justify-center items-center p-4 gap-y-2 font-mono">
            <div class="border-4 border-blue-700  p-5 rounded-md ">
                <h1 class="font-mono text-5xl text-black font-black lowercase my-2">go-Sequence</h1>

                <!-- Username generation-->
                <div class="flex flex-col justify-center items-center">
                    {{ if .Username }}
                    <h4 id="generated_username" class="my-1 cursor-copy hover:bg-gray-100 px-1 py-0.5">
                        {{ .Username }}
                    </h4>
                    {{ else }}
                    <button id="generate-btn" hx-get="/lobby/generate_username" hx-target="#generated_username">
                        Generate a random user name
                    </button>
                    <h4 id="generated_username" class="my-1 cursor-copy hover:bg-gray-100 px-1 py-0.5"></h4>

                    {{ end }}
                </div>
                <!-- Lobby Options-->
                <div class="flex gap-5">
                    <a href="/lobby-create"
                        class="bg-white px-3 py-2 rounded-xl hover:bg-blue-700 hover:text-white transition duration-200 hover:rounded-md ease-linear">
                        Create lobby
                    </a>
                    <button
                        class="bg-white px-3 py-2 rounded-xl hover:bg-blue-700 hover:text-white transition duration-200 hover:rounded-md ease-linear">
                        Join lobby
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/index.js"></script>
</main>
