package partials

templ ToastComponent(topic string, content string) {
	<div id="toast">
		<div id="toast-underlay" class="toast-underlay"></div>
		<div class="toast-content text-sm font-mono">
			<h6 class="font-bold">{ topic }</h6>
			<p>{ content }</p>
		</div>
	</div>
}

