package partials

templ Toast() {
	<div id="toast">
		<div id="toast-underlay" class="toast-underlay"></div>
		<div class="toast-content text-sm font-mono">
			<h1 class="font-bold">Generate a username first.</h1>
			<p>this site works better when you have a username.</p>
			<p>click on the "generate username" button to get yours.</p>
		</div>
	</div>
}

