
/***** MODAL DIALOG ****/
#toast {
	/* Underlay covers entire screen. */
	position: fixed;
	top:0px;
	bottom: 0px;
	left:0px;
	right:0px;
	background-color:rgba(255,255,255,0);
	z-index:1000;

	/* Flexbox centers the .modal-content vertically and horizontally */
	display:flex;
	flex-direction:column;
	align-items:center;

	/* Animate when opening */
	animation-name: toastFadeIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#toast > .toast-underlay {
	/* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
	position: absolute;
	z-index: -1;
	top:0px;
	bottom:0px;
	left: 0px;
	right: 0px;
}

#toast > .toast-content {
	/* Position visible dialog near the top of the window */
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5vh;

	/* Sizing for visible dialog */
	width:80%;
	max-width:600px;

	/* Display properties for visible dialog*/
	border:solid 1px #999;
	border-radius:8px;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	background-color:white;
	padding:20px;

	/* Animate when opening */
	animation-name:zoomIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#toast.closing {
	/* Animate when closing */
	animation-name: toastFadeOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#toast.closing > .toast-content {
	/* Animate when closing */
	animation-name: zoomOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

@keyframes toastFadeIn {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
	/* 0% {opacity: 0;} */
	/* 100% {opacity: 1;} */
}

@keyframes toastFadeOut {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(100vh);
        opacity: 0;
    }
	/* 0% {opacity: 1;} */
	/* 100% {opacity: 0;} */

}

